body {
    background-color:#3ba9ad;
    background-image:url(/images/plaidtastico-plaid-design.png);   
/*    background-size:contain;*/
    background-size:cover;
    height:50%;
/*    width: 100%;*/
    background-repeat:no-repeat;
}

h1{
    font-size: 94px;
    color: #fff;
    font-family: gillsans, sans-serif; 

}
h5{
    font-size: 30px;
    color: #fff;
    font-family: gillsans, sans-serif; 

}
p{
    font-size: 18px;
    color:#fff;
    font-family: franklingothic, sans-serif;
}

.col-lg-6{
    font-size: 20px;
    color:#fff;
    font-family: franklingothic, sans-serif;
}
h4{
    font-size: 70px;
    color: #fff;
    font-family: gillsans, sans-serif; 
}

.blue-nav{
    background-color: rgba(50, 67, 78, 0.79);
    width: 100%;
    height: 60px;
    
}


.blue-nav h2 {
  font-size: 30px;
    color: #fff;
    font-family: gillsans; 

}

.blue-nav h3 {
  font-size: 55px;
    color: #fff;
    font-family: gillsans; 

}
.carousel carousel-inner{
max-height: 950px;
max-width: 1050px;
}

}

.box {background-color: gray;}

.main-nav {
    font-size: 30px;
    color: #fff;
    font-family: gillsans, sans-serif;
    margin-bottom: 20px;
    padding: 12px;
position: relative;
    
}


.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 20px;
    color: #fff;
    font-family: gillsans, sans-serif;
    color: #fff;
 background: rgba(50, 67, 78, 0);
}

.btn-lg a {
color: #fff;
}

.btn-lg a:hover {
    color: #3ba9ad;
    text-decoration: none;
}



.btn-main,
.btn-group-main> .btn {
  padding: 0px 10px;
  font-size: 50px;
  line-height: 1.33;
  border-radius: 0px;
    color: #fff;
    font-family: gillsans, sans-serif;
    color: #fff;
 background: rgba(50, 67, 78, 0);
}

.btn-main a {
color: #fff;
}

.btn-main a:hover {
    color: #3ba9ad;
    text-decoration: none;
}


.row{
    padding-left: 25px;}







body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}